<!--
<div>
    <table>
        <tr>
            <th>Crop Id</th>
            <th>Selling amount</th>
            <th>Base Price</th>
            <th>crop name</th>
            <th>Quantity</th>
            <th>farmerName</th>
            <th>BidderName</th>
        </tr>
        <tr *ngFor="let n of notifications">
            <td></td>
            <td>{{n.cropid}}</td>
            <td>{{n.amount}}</td>
            <td>{{n.baseprice}}</td>
            <td>{{n.cropName}}</td>
            <td>{{n.quantity}}</td>
            <td>{{n.farmerName}}</td>
            <td>{{n.bidderName}}</td>
        </tr>
    </table>
</div>
-->
<div class="Notice">
<div *ngFor="let n of notifications">
    <div class="Container">
    <span class="fa fa-bell"></span>
    <span class="msg">{{n.farmerName}} sold his {{n.quantity}} kilos of 
        {{n.cropName}} whose base price was {{n.baseprice}} 
        to {{n.biddername}} for {{n.amount}} </span>   
</div>
</div>
</div>