<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>view marketplace</title>

    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
        <div class="container1">
            <div class="top">
            <p class="p1">Crop Type:<u class="u1">Type of Crop</u></p>
            <p class="p1">Crop Name:<u class="u1">Name of Crop</u></p>
            <p class="p1">Base Price:<u class="u1">Base Price of Crop</u></p>
        </div>
        <div class="card">
            <p>Current Bid Amount</p>
        </div>
        <div class="bottom">
            <p class="p2">Previous Bids</p>
        </div>
        <div class="card2">
           <h4 class="bid">Bid1</h4>
            <h4 class="bid">Bid2</h4>
            <h4 class="bid">Bid2</h4>

        </div>
    </div>
        
</body>
</html>