<footer>
  <div class = "footer-color">
<div class="column">
      <h2>About</h2>
      <p>Some text..</p>
    </div>
    <div class="column" >
      <h2>Useful Links</h2>
      <ul>
        <li>
            <a href="#">a</a>
          </li>
          <li>
            <a href="#">a</a>
          </li>
          <li>
            <a href="#">a</a>
          </li>
          <li>
            <a href="#">a</a>
          </li>
      </ul>
      
    </div>
    <div class="column" >
      <h2>Contact Us</h2>
      <p>Some text..</p>
    </div>
  </div>
</footer>