.footerParent {
   margin-top: 2%;
    width:100%;
    padding-left: 0px;
    padding-right: 0px;

}

.foot {
    margin-top: 2%;
    background-color: greenyellow;
    width: 100%;

}

.footerDiv {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    bottom: 0;
    width: 100%;
}
