<!--<footer>
    <div class="footer-color">
        <div class="column">
            <h2>About</h2>
            <p>Farmers will get new ideas to improve their productivity, they can buy and sell their products online from different cities through the process of bidding. Farmers can use this facility and avail benefits of different schemes available which
                will increase their profit.</p>
            <p>To ensure flow of credit to the agriculture sector.</p>
            <p></p>
            <p>To encourage farmers to adopt innovative and modern agricultural practices.</p>
        </div>
        <div class="column">
            <h2>Useful Links</h2>
            <ul>
                <li>
                    <a href="#">a</a>
                </li>
                <li>
                    <a href="#">a</a>
                </li>
                <li>
                    <a href="#">a</a>
                </li>
                <li>
                    <a href="#">a</a>
                </li>
            </ul>

        </div>
        <div class="column">
            <h2>Contact Us</h2>
            <p>Larsen & Toubro Limited</p>
            <p>L&T House, N.M. Marg, Ballard Estate,</p>
            <p>Mumbai, Maharashtra - 400 001</p>
            <p>Tel: +91 22 67525656</p>
            <p>Email for queries or grievances to Company Secretary:</p>
            <p>igrc@larsentoubro.com</p>
        </div>
    </div>
</footer>-->

<div class="footerParent">
    <footer class="foot">
        <div class="footerDiv">
            <p><span>&#169;</span> 2020 Copyright : Farmers Scheme
            </p>
        </div>
    </footer>
</div>