<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <link rel="stylesheet" href="4.1.css"/>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <form>
        <div class="container1">
            <div class="input1">
            <p> Crop Type :<input class="t1" type="text"></input></p>
            <p>Crop Name :<input class="t2" type="text"></input></p>
            <p>Fertilizer Type :<input class="t3" type="text"></input></p>
            <p>Quantity :<input class="t4" type="number"></input></p>
        </div>
        <div class="input2">
            <p>Soil PH Certificate :<input class="t5" type="text"></input></p>
        </div>
        <div class="button1">
            <button type="submit" class="request">Place Request</button>

        </div>

    
        </div>

    </form>
    
</body>
</html>