span {
    /* color: greenyellow; */
    /* font-size: large; */
    display: inline-block;
}

div {
    margin: auto;
    width: 50%;
    padding: 10px;
    font-size: medium;
    overflow: hidden;
}

.contain {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    /* Setting text appearance */
    font-family: "Montserrat", sans-serif;
    font-size: 2.5vmin;
    text-align: center;
    color: #4d6d9a;
    /* background-color: lightyellow; */
    border-radius: 2%;
    padding: 2rem;
    margin: 2rem;
}

.textspacing {
    padding: 0%;
    margin: 0%;
}