<!-- <app-route></app-route> -->
<div class="contain content">
    <h2 class="textspacing">Small Farmer's Agri-Business Consortium</h2><br/>
    <p class="textspacing">
        <span class="glyphicon glyphicon-map-marker"> &nbsp;
    </span> NCUI Auditorium Building, 5th Floor, 3, Siri Institutional Area, August Kranti Marg, Hauz Khas, New Delhi - 110016.
        <!-- <br> -->
    </p>
    <!-- <hr/> -->
    <p class="textspacing">
        <span class="glyphicon glyphicon-earphone"> &nbsp;</span> Help Desk No.: 1800 270 0224
        <!-- <br> -->
    </p>
    <!-- <hr/> -->
    <p class="textspacing">
        <span>Fax</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +91-11- 26862367
    </p>
    <!-- <hr/> -->
    <p class="textspacing">
        <span class="glyphicon glyphicon-envelope"> &nbsp; </span>Office Time: 09:30 AM. to 06:00 PM.
    </p>

    <!-- <p class="textspacing">
        Office Time: 09:30 AM. to 06:00 PM.
    </p> -->
    <!-- <hr/> -->
</div>