<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Welcome Farmer</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
    <body>
        <div class="topnav">
        <div class="log">
           <button [routerLink]="'/app-login'" type="submit" class="log_out">Logout</button>
        </div>
        </div>
        <div class="container2">
            <p>
                <a [routerLink]="'/crop'">Place Sell request</a>
            </p>
            <p>
                <a [routerLink]="'/app-viewsoldhistory'">View Sold Crop History</a>
            </p>
            <p>
                <a [routerLink]="'/app-viewmarketplace'">View Marketplace</a>
            </p>
        </div>
</body>
</html>