.container {
    /* background-image: url("../../assets/homeImages/farmer(6).jpg"); */
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: greenyellow;
    border-radius: 2%;
    background-color: lightyellow;
}

.contain {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    /* Setting text appearance */
    font-family: "Montserrat", sans-serif;
    font-size: 2.5vmin;
    text-align: center;
    color: #4d6d9a;
    background-color: lightyellow;
    border-radius: 2%;
    padding: 2rem;
    margin: 2rem;
}