<!DOCTYPE html>
<html>
   <head>
      <title>Bidder Welcome Page</title>
	  <link rel="stylesheet" href="6.css"/>
   </head>
   <body>
   <br>
      <table width ="80%" align="center" border="1">
         <tr>
            <th>Crop Type     </th>
            <th>Crop Name</th>
			<th>Base Price</th>
			<th>Current Bid</th>
         </tr>
         
         <tr>
            <td> &nbsp; </td>
            <td> &nbsp; </td>
            <td> &nbsp; </td>
            <td> &nbsp; </td>
         </tr>
      </table>
	  <br><br><br><br>
	  
<div id="d1">	
  
<label for="bid">Bid Amount:</label>
<input  type="text" id="bid" name="bid">
<br><br><br><br>
  
<button id="b1" style="background-color:green" type="button">CONFIRM </button>

</div>
<br><br><br><br>
   </body>
</html>