<div class="c1">
 <h1>SOLD HISTORY</h1>
 <img  src="../../assets/homeImages/farmer(6).jpg" alt="farmer"  style="height:600px;width:1500px;">

<div class="c2">
       <table width ="100%" align="center" border="1" >
         <tr>
            <th>Date</th>
            <th>Crop Name</th>
			<th>Quantity</th>
			<th>Msp</th>
            <th>Sold price</th>
			<th>Total Price</th>
         </tr>
         
         <tr>
            <td> &nbsp; </td>
            <td> &nbsp; </td>
            <td> &nbsp; </td>
            <td> &nbsp; </td>
			<td> &nbsp; </td>
            <td> &nbsp; </td>
         </tr>
		 
		   <tr>
            <td> &nbsp; </td>
            <td> &nbsp; </td>
            <td> &nbsp; </td>
            <td> &nbsp; </td>
			<td> &nbsp; </td>
            <td> &nbsp; </td>
         </tr>
      </table>
   </div>

   </div>

