<div class="topnav">
    <img  src="../../assets/homeImages/logo.jpg" alt="farmer"  style="height:50px;width:100px;">
    <a [routerLink]="'app-home'">Home</a>
    <!-- <a [routerLink]="'/app-farmer-welcome2'">News</a> -->
    <a [routerLink]="'app-farmer-welcome2'">Contact</a>
    <a [routerLink]="'app-about'">About</a>
    <a [routerLink]="'/app-login'">Login</a>
    <div class ="right" *ngIf="user!=null">
    <a  [routerLink]="'/Notification'">Notification</a>
    <a  href="#" (click)="Logout()">Logout</a>
</div>
</div>
