
.container1{
  border:2px solid rgb(94, 255, 0);
  height: 40%;
  width: 40%;
  margin-top:100px;
  margin-bottom: 180px;
  margin-left:180;
  padding: 50px;
}
.button1{
  margin-top: 10%;
  text-align: center;
}
.input1{
  margin-left: 40px;
}
.input2{
 margin-left: 40px;
  margin-top: 7px;
}
.t1{
 margin-left: 20px;
 margin-top: 7px;
}
.t2{
 margin-left: 40px;
 margin-top: 7px;
}
.t3{
 margin-left: 20px;
 margin-top: 7px;
}
.t4{
 margin-left: 20px;
 margin-top: 7px;
}
.t5{
 margin-left: 20px;
 margin-top: 7px;
}

.t6{
 margin-left: 20px;
 margin-top: 7px;
}

.t7{
 margin-left: 20px;
 margin-top: 7px;
}
.t8{
 margin-left: 20px;
 margin-top: 7px;
}

.t9{
 margin-left: 20px;
 margin-top: 7px;

}

.t10{
 margin-left: 50px;

}
.request {
background-color:#99ff25;
color:black;
font-size: 20px;
padding: 10px 15px;
border: none;
cursor: pointer;
opacity: 0.9;
}
.request:hover {
opacity: 1;
}

.error{
  color: red;
}
