.mark{
    background-color: #f5f5f5;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    margin: 2%;
}

.slider{
    margin-left: 10%;
    margin-right: 10%;
}

.homeImages{
    display: block;
    margin-left:300px;
    margin-right:100px;
    width: 50%;    
}